[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SamplingBigData"]
	path = SamplingBigData
	url = https://github.com/jlisic/samplingbigdata
[submodule "cdlTools"]
	path = cdlTools
	url = https://github.com/jlisic/cdltools
[submodule "meanShiftR"]
	path = meanShiftR
	url = https://github.com/jlisic/meanshiftr
[submodule "rasterKernelEstimates"]
	path = rasterKernelEstimates
	url = https://github.com/jlisic/rasterkernelestimates
